<div class="country-deatils-wrapper">
    <a redirectTo='/countries' style=" text-decoration: 'none'; color: 'hsl(200, 15%, 8%)' "><button class="btn white-btn back-btn">
        <i class="fa fa-long-arrow-left fa-sm"> </i>
Back</button></a>
        <div class="country-details-outer">
            <div class="country-details-container">
                <div class="country-details-flag">
                    <img src='{country.flag}' alt="country flag" />
                </div>
                <div class="country-details-outer-block">
                    <div class="country-name-title">
                        <h3><b>{{country.name}}</b></h3>
                    </div>
                    <div class="country-summary-div">
                        <div class="summary-left-inner-div">
                            <div><b>Native Name:</b>{{country.nativeName}}</div>
                            <div><b>Population:</b>{{country.population}}</div>
                            <div><b>Region:</b>{{country.region}}</div>
                            <div><b>Sub Region:</b>{{country.subregion || 'none'}}</div>
                            <div><b>Capital:</b>{{country.capital || 'none'}} </div>
                        </div>
                        <div class="summary-right-inner-div">
                            <!-- <div><b>Top Level Domain:</b><span>{{country.topLevelDomain.join()}}</span>
                            </div> -->
                            <!--<div><b>Currencies:</b> {this.state.currencies.map((currency, index) => (
                                <span id={index}>{index + 1 === this.state.currencies.length ? currency.name : currency.name + ', '}</span>))}</div>
                            <div><b>Languages:</b> {
                                this.state.languages.map((lang, index) => (
                                    <span>{index + 1 === this.state.languages.length ? lang.name : lang.name + ', '}</span>))}
                            </div>
                        </div> -->
                    </div>
                    <!-- <div className={this.state.borderCountries.length ? 'border-country-wrapper' : 'd-none'}>
                        <div className="d-flex border-area"><b>Border Countries:</b></div>
                        <div className="d-flex border-country-buttons">{this.state.borderCountries.map((borderCountry, index) => (
                            <Link to={`/countries/${borderCountry.alpha3Code}`} style={{ textDecoration: 'none', color: (this.props.darkMode ? 'hsl(0, 0%, 100%)' : 'hsl(200, 15%, 8%)') }}
                                className={this.props.darkMode ? "btn white-b   tn border-btn dark-mode-element dark-shadow" : "btn white-btn border-btn"}>
                                <div>{borderCountry.name}</div></Link>
                        ))}</div>-->
                    </div>
                </div>
            </div>
        </div>
</div>
