<div [ngClass]="(darkMode)?'dark-background countries-outer-area':'countries-outer-area'">
  <div class="d-flex search-wrapper">
    <div [ngClass]="(darkMode)?'dark-mode-element input-area  dark-shadow ':'input-area'">
      <i class='fa fa-search fa-sm'></i>
      <input type="text" name="search" #search
        [ngClass]="(darkMode)?'dark-mode-element countries-search-bar':'countries-search-bar'"
        placeholder='Search for a country...' [ngModel]="searchValue" (ngModelChange)="searchCountry($event)" />
    </div>
    <div class="dropdown">
      <select [ngClass]="(darkMode)? 'btn white-btn dark-mode-element':'btn white-btn'" [ngModel]="searchValue" (ngModelChange)="filterRegion($event)">
        <option class="btn white-btn" value=''>Region</option>
        <option value='africa'>Africa</option>
        <option value='americas'>Americas</option>
        <option value='asia'>Asia</option>
        <option value='europe'>Europe</option>
        <option value='oceania'>Oceania</option>
        <option value='polar'>Polar</option>
      </select>
    </div>
  </div>
  <div class="country-blocks-wrapper">
    <div *ngFor="let country of countries" [ngClass]="(darkMode)? 'dark-mode-element  dark-shadow country-block':'country-block'">
      <a routerLink="/countries/{{country.alpha3Code}}" [ngStyle]="{ 'color':(darkMode)?'hsl(0, 0%, 100%)': 'hsl(200, 15%, 8%)',
      'text-decoration': 'none'}">
        <router-outlet></router-outlet>
        <div class="country-flag-div"><img class="curved-corners" src={{country.flag}} alt="country flag" /></div>
        <div class="country-details-div">
          <div class="country-name-title">
            <h6><b>{{country.name}}</b></h6>
          </div>
          <div>
            <div><b>Population:</b>{{country.population}}</div>
            <div><b>Region:</b> {{country.region}}</div>
            <div><b>Capital:</b> {{country.capital}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>