
.curved-corners{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .countries-outer-area{
    background-color: hsl(0, 0%, 98%);
    padding:6%;
    display:flex;
    flex-wrap:wrap;
  }
  .country-flag-div{
    height: 9rem;
    width: 100%;
   
  }

  img{
    height: 100%;
    width:100%;
    
  }

  .country-block{
    background-color: hsl(0, 0%, 100%);
    width: 19%;
    height: 18rem;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 2px 3px 3px 2px hsl(0, 0%, 94%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-right: 8%;
    margin-bottom: 8%;
  }
  div.country-block:nth-child(4n) {
    margin-right: 0%;
  }
  .country-blocks-wrapper{
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
  }
  a{
    color : hsl(200, 15%, 8%);
  }
  a:hover{
    color : hsl(200, 15%, 8%);
  }
  .country-details-div{
    padding: 6% 2% 15% 10%;
    cursor:pointer;
  }

.countries-search-bar{
  width: 100%;
  background-color: white;
  border:none;
  padding-left:1%;
  padding-right: 1%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: hsl(0, 0%, 85%);
  opacity: 1; /* Firefox */
}
.search-wrapper{
  display: flex;
  width:100%;
  justify-content:space-between;
}

.input-area{
  color: hsl(0, 0%, 90%);
  background: white;
  box-shadow: 2px 5px 4px 2px hsl(0, 0%, 94%);
  display: flex;
  align-items: center;
  padding: 1% 2%;
  width: 36%;
  border-radius: 5px;
}

.white-btn{
  background-color:hsl(0, 0%, 100%);
  font-weight: 600;
}

@media only screen and (max-width: 900px){

  .header-title{
    font-size: 14px;
  }
  .countries-header {
    padding: 1% 3%;
  }
  .search-wrapper {
    flex-direction: column;
  }
  .input-area {
    width: 100%;
    height: 3rem;
    margin-bottom: 3%;
  }
.country-row,.new-country-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 2%;
    padding-right: 2%;
}

div.country-block:nth-child(4n) {
  margin-right: 10%;
}
.country-block,.new-country-block{
  width: 37%;
  height: 20rem;
  margin-right: 10%;
  margin-bottom:10%;  
}
.country-blocks-wrapper{
  padding-top: 8%;
  padding-left: 2%;
  padding-right: 2%;
}
.country-details-container{
  flex-direction: column;
}
.country-details-flag{
  width: 100%;
  height: auto;
}

.back-btn{
  width: 21%;
}
.country-details-outer{
  margin-top:5%;
}
.country-details-outer-block {
  padding: 3% 2% 0% 0%;
  width:100%
}
.country-summary-div{
flex-direction: column;
height: 19rem;
}
.border-country-wrapper {
  flex-direction: column;
  margin-top: 6%;
}
.border-country-buttons{
  width:100%;
}
.summary-right-inner-div{
  height: 6rem;
}
.white-btn{
  font-size: 14px;
}
}

@media only screen and (max-width: 700px) and (min-width: 500px){
.country-block,.new-country-block{
  margin-right: auto;
  margin-left:auto;
width: 45%;
}
div.country-block:nth-child(4n) {
  margin-right: auto;
}
}
@media only screen and (max-width: 500px) and (min-width: 400px){
  .country-block,.new-country-block{
    margin-right: auto;
  margin-left:auto;
  margin-bottom: 15%;
  width: 60%;
  }
  }

@media only screen and (max-width: 400px){
  .country-block,.new-country-block{
  margin-right: auto;
  margin-left:auto;
  margin-bottom: 20%;
  width: 75%;
  }
  }
  