
<div class="countries-outer-area">
  <div class="d-flex search-wrapper" >
    <div class="input-area">
    <i class='fa fa-search fa-sm'></i>
  <input type="text" name="search" #search class="countries-search-bar" placeholder='Search for a country...' [ngModel]="searchValue" (ngModelChange)="searchCountry($event)"/>
  </div>        
  <div class="dropdown">
    <select class="btn white-btn">
    <option class="btn white-btn" value=''>Region</option>
            <option value='africa'>Africa</option>
            <option value='americas'>Americas</option>
            <option value='asia'>Asia</option>
            <option value='europe'>Europe</option>
            <option value='oceania'>Oceania</option>
            <option value='polar'>Polar</option>
  </select>
  </div>
  </div>
     <div class="country-blocks-wrapper">
        <div  *ngFor="let country of countries" class="country-block">
        <a style="text-decoration: 'none'; color:'hsl(200, 15%, 8%)'" >
                <div class="country-flag-div"><img class="curved-corners" src={{country.flag}} alt="country flag"/></div>
                <div class="country-details-div">
                <div class="country-name-title">
                <h6><b>{{country.name}}</b></h6>
                </div>
                <div>
                <div><b>Population:</b>{{country.population}}</div>
                <div><b>Region:</b> {{country.region}}</div>
                <div><b>Capital:</b> {{country.capital}}</div>
                </div>
                </div>  
        </a>
      </div>
    </div>
</div>
